###############################################################################
# Hardware server system configuration file
# Created on: July 16, 2002
###############################################################################
APPNAME           = ZGYD-SIGPARSER
LISTEN_HOST_IP  = 0.0.0.0
#用于监听SUGW客户端连接的端口
LISTEN_SUGW_PORT   = 9700
#用于监听中兴客户端CDR/TDR数据通知请求的端口
LISTEN_ZX_DATA_PORT = 9710
#  信令包所允许的最大延时
PACKAGE_DELAY_LIMIT   = 5
#  信令包开始与结束间的最大间隔
BEGIN_END_INTERVAL   = 3600
IS_DEBUG = 0

###################### FOR MONITOR ##############################################
MONITOR_PORT  = 8088
MONITOR_HOST_IP = 115.238.29.132

###################### FOR COMMAND LINE #######################
COMMAND_LISTEN_PORT  = 9720
COMMAND_LISTEN_HOST_IP  = 192.168.90.209
COMMAND_LOGIN_USER_NUM = 6
#  允许登陆命令行的用户
COMMAND_LOGIN_USER = wyt:8jDGTAyc63,xww:C7yc6pxIR8,chenchao:R0hwCTQo53,zxd:Lel06OQiZ2,ws:60YtX9a2Ay,zqh:HOypGIr309

###################### FOR ZX CLIENT ###########################################
#账户ID（应用系统的平台标识）
#SYSTEM_LOGIN_ID = 
#SYSTEM_PWD =
#账户ID（订阅时共享平台分配给应用系统的账号string类型）
SUBSCRIBE_LOGIN_ID = 0x03eb
SUBSCRIBE_PWD = COTK8023
#协议主版本号
PROTOCOL_VERSION = 1
#协议子版本号
PROTOCOL_SUBVERSION = 0
#应用系统订阅CDR/TDR后由信令共享平台生成的全局唯一的订阅标识码(LONGLONG类型)
CDR_ORDER_ID = 1003

#  一个ZX端口对应一个消息接收队列
BUFF_QUEUE_SIZE = 20480000
#  一个接收队列对应的处理线程数
MSG_PROCESS_THREAD_NUM = 8

###################for test#########################################################
TEST_ZONE = 1380832
TEST_PHONES   = 13883257727,13508324407,13508324267,13508324254,13508324140,18723208902,18725736380,15923111904,15923124254,18725736393,15923117154

###################### FOR IDPPARSER_TEST(192.168.1.162/163) ########################
TRANSMIT_PORT  = 8700
TRANSMIT_HOST_IP = 60.191.52.106
TRANSMIT_BACKUP_IP = 60.191.52.107
